<% content_for :title, "Orders To Be Shipped" %>

<h1>Orders To Be Shipped</h1>

<%= form_tag("ship", :class => "form-horizontal") do %>

  <table class="table table-striped table-bordered table-condensed">
    <tbody>
    <%= render(:partial => "order_line", :collection => @pending_orders) %>
    </tbody>
  </table>

 <%= submit_tag("SHIP CHECKOUT ITEMS", :name=>"orderSubmit",:class=> "btn btn-primary") %>
 <% end %>
